html{
  scroll-behavior: smooth;
}

body{
  text-align: center;
  color: #C5C6C7;
  background: #0B0C10;
  font-size: 16px;
}
.Details{
  display: grid;
  grid-template-areas:
    "back back "
    "info collected"
    "info created";

  .Back{
    grid-area: back;
    text-align: right;
    margin-right: 15%;
  }

  .Info{
    text-align: left;
    grid-area: info;
    // section{
    //   position:sticky;
    //   top: 160px;   
    // }
  }

  .Collected{
    grid-area: collected;
  }

  .Created{
    grid-area: created;
  }

  section{
    margin-bottom: 20px;
    border-bottom: 1px dashed #24A29E;
    margin-left: 10%;
    width: 80%;
  }
}

.Input{
  display: grid;
  grid-template-areas:
    "left right"
    "email email"
    "description description"
    "submmit submit";

  ol {
      list-style-type: none;
  }

  .Left{
    text-align: left;
    grid-area: left;
  }

  .Right{
    text-align: left;
    grid-area: right;
  }

  .Email{
    text-align: center;
    grid-area: email;
  }
}

.Topbar{
  margin-bottom: 40px;
  border-bottom: 1px dashed #24A29E;
  position: sticky; 
  top: 0;
  background-color: #0B0C10;
  padding: 20px
}

.Dashboard{
  table{
    display: flex;
    justify-content: space-around;

    td{
      border: 1px solid white;
      padding: 10px 20px;
      color: #24A29E;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
    th{
      border: 1px solid white;
      padding: 10px 20px;
      color: #24A29E;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }
  
}

.Small-img{
  height: 200px;
  width: 200px;
}

.Normal-img{
  height: 300px;
  width: 300px;
}

.Large-img{
  max-width: 80vw;
}

.Circle{
  border-radius: 50%;
}

input:focus {
  background-color: #1F2833
}

.List{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.ListContainer{
  padding: 10px 40px;
  border: 1px solid #24A29E;
  margin-bottom: 20px;
  img:hover{
  cursor: pointer;
  }
} 

ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0
}

.box{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.detailsList{
  display: list-item;
  text-align:left
}

.Logo{
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3, h4{
  color: #66fcf1;
}

.Btn {
  background-color: #00000000; 
  border: 2px solid #24A29E;
  color: #C5C6C7;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.8s;
  cursor: pointer;
  margin: 4px 8px;
}

.Btn:hover {
  background-color: #24A29E;
  color: #C5C6C7;
}

.Delete:hover{
  background-color:rgb(131, 20, 20)
}

.Link{
  color: white;
  font-weight: bold;
}

input, select{
  color: #C5C6C7;
  background-color: #1F2833;
  border: 2px solid #24A29E;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}



@media (prefers-reduced-motion: no-preference) {
  .Logo{
    animation: App-logo-float infinite 0.8s ease-in-out;
  }
  .Small-img:hover{
    animation: Small-img both 0.6s ease
  }
}

@keyframes Small-img {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1)

  }
  
}

@keyframes App-logo-float {
  0% {
    transform: rotate(0);
  }
  99% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}